<div class="scrolling--container">
  <div class="scrolling__bar">
    <div class="scrolling__text">
      <span class="text">Hello There</span>
      <span class="text">Hello There</span>
      <span class="text">Hello There</span>
      <span class="text">Hello There</span>
      <span class="text">Hello There</span>
    </div>
    <div class="scrolling__text">
      <span class="text">Hello There</span>
      <span class="text">Hello There</span>
      <span class="text">Hello There</span>
      <span class="text">Hello There</span>
      <span class="text">Hello There</span>
    </div>
  </div>
</div>
