<div class="grid-container tiled--grid grid--link">
  <div class="grid__item">
    <div class="grid__content">
      <div class="grid__text">Lorem ipsum dolor sit amet.</div>
    </div>
    <img src="images/dog.jpeg" alt="" />
  </div>
  <div class="grid__item">
    <div class="grid__content">
      <div class="grid__text">Lorem ipsum dolor sit amet.</div>
    </div>
    <img src="images/dog.jpeg" alt="" />
  </div>
  <div class="grid__item">
    <div class="grid__content">
      <div class="grid__text">Lorem ipsum dolor sit amet.</div>
    </div>
    <img src="images/dog.jpeg" alt="" />
  </div>
  <div class="grid__item">
    <div class="grid__content">
      <div class="grid__text">Lorem ipsum dolor sit amet.</div>
    </div>
    <img src="images/dog.jpeg" alt="" />
  </div>
  <div class="grid__item">
    <div class="grid__content">
      <div class="grid__text">Lorem ipsum dolor sit amet.</div>
    </div>
    <img src="images/dog.jpeg" alt="" />
  </div>
  <div class="grid__item">
    <div class="grid__content">
      <div class="grid__text">Lorem ipsum dolor sit amet.</div>
    </div>
    <img src="images/dog.jpeg" alt="" />
  </div>
  <div class="grid__item">
    <div class="grid__content">
      <div class="grid__text">Lorem ipsum dolor sit amet.</div>
    </div>
    <img src="images/dog.jpeg" alt="" />
  </div>
  <div class="grid__item">
    <div class="grid__content">
      <div class="grid__text">Lorem ipsum dolor sit amet.</div>
    </div>
    <img src="images/dog.jpeg" alt="" />
  </div>
  <div class="grid__item">
    <div class="grid__content">
      <div class="grid__text">Lorem ipsum dolor sit amet.</div>
    </div>
    <img src="images/dog.jpeg" alt="" />
  </div>
  <div class="grid__item">
    <div class="grid__content">
      <div class="grid__text">Lorem ipsum dolor sit amet.</div>
    </div>
    <img src="images/dog.jpeg" alt="" />
  </div>
</div>
